/*CSS for Peronsal Website with Git*/

.homepage {
  background: url(jungle.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 65%;
  background-color: black;
}

#icon {
  font-size: 48px;
  color: white;
}

p {
  color: white
}

.intro1 {
  position: absolute;
  left: 5%;
  top: 10%;
  font-style: italic;
  color: white;
  font-size: 30px;
}

.intro2 {
  position: absolute;
  left: 5%;
  top: 17%;
  color: white;
  font-size: 20px;
}

.portfolio {
  color: white;
  position: absolute;
  top: 15%;
  right: 5%;
  font-size: 25px;
}

.contact {
  color: white;
  position: absolute;
  top: 20%;
  right: 6%;
  font-size: 25px;
}


.contactme {
  background: url(essie.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 65%;
  background-color: black;
}

.tele {
  position: absolute;
  left: 20%;
  top: 10%;
  color: black;
  font-size: 20px;
}

.email {
  position: absolute;
  left: 20%;
  top: 14%;
  color: black;
  font-size: 20px;
}

.home1 {
  color: black;
  position: absolute;
  top: 8%;
  left: 20%;
  font-size: 20px;
}

.portfolio{
  background-color: gray;
}

.imagep {
  width: 45%;
  height: 45%;
}

.home2 {
  color: black;
  position: absolute;
  top: 15%;
  right: 3%;
  font-size: 25px;
}

.contact2 {
  color: black;
  position: absolute;
  top: 20%;
  right: 3.25%;
  font-size: 25px;
}
